$brand: #cc693e;
$black: #000;
$white: #fff;
$black90: #1a1a1a;
$black80: #333333;
$black60: #666666;
$black50: #808080;
$black40: #999999;
$black30: #b3b3b3;
$black20: #ccc;
$black10: #f1f1f1;
