$black: #000;
$white: #fff;
$brand: #cc693e;
$brand20: #f5e1d8;
$black90: #1a1a1a;
$black80: #333333;
$black60: #666666;
$black50: #808080;
$black40: #999999;
$black30: #b3b3b3;
$black20: #ccc;
$black10: #f1f1f1;
$blackBG: rgba(41, 41, 41, 0.6);
$footer-text: rgb(217, 217, 217);
$footer-text-hover: rgb(159, 159, 159);