@import "./location.scss";
@import "./logo.scss";

// Распологает элементы

.header {
  margin-top: 40px;

  &__content-container {
    display: flex;
    justify-content: space-between;
  }
}
