@import "../../abstracts/variables";

.header {
  &__location-list {
    gap: 16px;
    height: 100%;
    margin-right: 62px;
    flex-basis: 912px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.location {
  gap: 5px;
  flex-basis: 216px;

  &__title-container {
    gap: 10px;
    font-size: 12px;
    line-height: 16px;
    margin-left: 2px;
    color: $black60
  }

  &__name .link {
    color: $brand;
  }

  &__number {
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }
}
