@import "../../abstracts/variables";

.footer {
  &__additional {
    gap: 30px;

    @media screen and (max-width: 660px) {
      margin-top: 32px;
      gap: 28px;
      padding-bottom: 5px;
    }
  }

  &__app-list {
    gap: 15px;
    align-items: center;

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 660px) {
      gap: 30px;
    }
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
    color: rgb(217, 217, 217);
    text-align: end;

    a {
      color: $brand;
    }

    @media screen and (max-width: 660px) {
      font-size: 10px;
      line-height: 12px;
      text-align: left;
    }
  }
}
