@import "../../abstracts/variables";

.footer {
  &__link-section {
    gap: 40px;
    flex-basis: 640px;

    @media screen and (max-width: 660px) {
      flex-wrap: wrap;
      flex-basis: unset;
      gap: 32px 27px;
    }
  }

  &__link-list {
    gap: 8px;
    flex-basis: 186px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(217, 217, 217);

    @media screen and (max-width: 660px) {
      flex-wrap: wrap;
      flex-basis: 125px;
      font-size: 12px;
      line-height: 16px;
      gap: 16px;
    }
  }
}
