@import "../../abstracts/variables";

.reccomendations {
  &__heading {
    font-size: 30px;
    line-height: 44px;
    color: $black80;
  }

  &__card-list {
    margin-top: 39px;
  }

  &__content-container {
    position: relative;
    min-height: 525;
    overflow: hidden;
    cursor: grab;
  }

  &__card-list {
    position: absolute;
    display: flex;
    gap: 16px;
    pointer-events: none;
  }
}

.card {
  max-width: 298px;
  height: 100%;
  background-color: $black10;
  gap: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  z-index: 10;

  &__img {
    border-radius: 8px 8px 0 0;
  }

  &__title {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0 16px 0 16px;
  }

  &__description {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 16px 0 16px;
    color: $black60;
  }

  &__btn {
    width: 109px;
    height: 40px;
    align-self: flex-end;
    margin-right: 16px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Roboto Slab";
    font-weight: 700;
    white-space: nowrap;
    pointer-events: all;
  }

  &__btn.btn-light {
    width: 134px;
    height: 40px;
  }

  &__tag {
    position: absolute;
    top: 5px;
  }
}
